@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    <input type="text" placeholder="Username" class="form-control mb-2" />
    <input type="password" placeholder="Password" class="form-control mb-2" />
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
